<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Dsmviz" Language="1033" Version="$(var.LongAssyVersion)" Manufacturer="Dsmviz" UpgradeCode="C0C28C50-44C7-40DE-AA35-0F13437D7E19">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A later version of the DSM viewer is already installed"
                  AllowSameVersionUpgrades="yes" />
    
    <ComponentGroup Id="DsmvizComponents" Directory="VIEWER_INSTALL_FOLDER">
      <Component Id="Dsmviz.View.exe" Guid="9E39FD85-9B8E-4B76-9366-13CF6AC732B3">
        <File Id="Dsmviz.View.exe" Source="..\build\bin\Dsmviz.View.exe" KeyPath="yes" Checksum="yes"/>
        <ProgId Id="DsmvizDsi" Description="DSM viewer">
          <Extension Id="dsi">
            <Verb Id="open" TargetFile="Dsmviz.View.exe" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
        <ProgId Id="DsmvizDsm" Description="DSM viewer">
          <Extension Id="dsm">
            <Verb Id="open" TargetFile="Dsmviz.View.exe" Argument="&quot;%1&quot;" />
          </Extension>
        </ProgId>
      </Component>
      <Component Id="Dsmviz.Viewmodel.dll" Guid="2E011513-1100-4610-A661-EE667AC06151">
        <File Id="Dsmviz.Viewmodel.dll" Source="..\build\bin\Dsmviz.Viewmodel.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Dsmviz.Application.dll" Guid="79D6350F-8069-41A7-9A40-F75D928FE985">
        <File Id="Dsmviz.Application.dll" Source="..\build\bin\Dsmviz.Application.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Dsmviz.Datamodel.Dsm.dll" Guid="4F1F0718-89B7-4BF1-8AFD-97F6D62D553E">
        <File Id="Dsmviz.Datamodel.Dsm.dll" Source="..\build\bin\Dsmviz.Datamodel.Dsm.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Dsmviz.Datamodel.Dsi.dll" Guid="4A933F4A-E039-4E1B-B8F7-855809B1B411">
        <File Id="Dsmviz.Datamodel.Dsi.dll" Source="..\build\bin\Dsmviz.Datamodel.Dsi.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Dsmviz.Datamodel.Common.dll" Guid="3B784A87-08E5-4ED0-8730-1868228CD31F">
        <File Id="Dsmviz.Datamodel.Common.dll" Source="..\build\bin\Dsmviz.Datamodel.Common.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Dsmviz.Util.dll" Guid="93B13A2D-50E4-45A1-8C33-3D73E1CCE750">
        <File Id="Dsmviz.Util.dll" Source="..\build\bin\Dsmviz.Util.dll" KeyPath="yes" Checksum="yes"/>
      </Component>

    </ComponentGroup>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="MAINFOLDER" Name="Dsmviz">
          <Directory  Id="VIEWER_INSTALL_FOLDER" Name="Viewer" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Dsmviz"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="633CDBBD-AA1E-4F46-9375-49984FFBC033">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="DSM dependency viewer"
                  Description="Application to view dependencies in a matrix"
                  Target="[#Dsmviz.View.exe]"
                  WorkingDirectory="VIEWER_INSTALL_FOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    
    <UI>
      <UIRef Id="WixUI_FeatureTree"/>
      <UIRef Id="WixUI_ErrorProgressText"/>
    </UI>

    <Feature Id="DsmViewerFeature" Title="DSM Suite Viewer" Level="1">
      <ComponentRef Id="Dsmviz.View.exe" />
      <ComponentRef Id="Dsmviz.Viewmodel.dll" />
      <ComponentRef Id="Dsmviz.Application.dll" />
      <ComponentRef Id="Dsmviz.Datamodel.Dsm.dll" />
      <ComponentRef Id="Dsmviz.Datamodel.Dsi.dll" />
	  <ComponentRef Id="Dsmviz.Datamodel.Common.dll" />
      <ComponentRef Id="Dsmviz.Util.dll" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>
